.row{
 margin-left: 20px;
 color: #fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    

}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 195px;
    margin-right: 10px;
}

.smallPoster{
    max-height: 160px;
    margin-right: 10px;
}

.poster:hover{
    transform: scale(1.1);
}

